
<div class="row">
  <div class="col-md-6 col-md-offset-3 concertInfo">
    <mat-card>
      <mat-card-title><b>{{concert.concert.name}}</b></mat-card-title>
      <mat-card-content><b>Date</b> <br>{{concert.concert.date | date }}</mat-card-content>
      <mat-card-content><b>Address</b> <br> {{concert.concert.street}} {{concert.concert.houseNumber}}, {{ concert.concert.zipCode}} {{ concert.concert.city }}</mat-card-content>
      <mat-card-content><b>Price</b> <br> {{concert.concert.price.$numberDecimal}},-</mat-card-content>
      <button class="buyButton" mat-raised-button color="primary" (click)="buyTicket()">Buy Ticket</button>
      <button class="deleteButton" mat-raised-button color="primary" (click)="deleteConcert()">Delete Concert</button>
      <button id="backButton" mat-raised-button color="primary" (click)="goBack()">Go Back</button>
    </mat-card>
  </div>
</div>
